// Colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$blue-dark: hsl(249, 10%, 26%);
$blue-gray: hsl(246, 25%, 77%);

// Typography
$font-size: 16px;
$font-family: 'Poppins', sans-serif;
$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-large: 600;
$font-weight-extra-large: 700;
