<div class="form__wrapper">
  <form
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
    class="form"
  >
    <input
      #firstName="ngModel"
      [class.invalid]="firstName.touched && firstName.invalid"
      class="form__input invalid"
      name="firstName"
      ngModel
      placeholder="First Name"
      required
      type="text"
    >
    <p
      *ngIf="firstName.touched && firstName.invalid"
      class="form__hint"
    >
      First Name cannot be empty
    </p>
    <input
      #lastName="ngModel"
      [class.invalid]="lastName.touched && lastName.invalid"
      class="form__input"
      name="lastName"
      ngModel
      placeholder="Last Name"
      required
      type="text"
    >
    <p
      *ngIf="lastName.touched && lastName.invalid"
      class="form__hint"
    >
      Last Name cannot be empty
    </p>
    <input
      #email="ngModel"
      [class.invalid]="email.touched && email.invalid"
      class="form__input"
      email
      name="email"
      ngModel
      placeholder="Email Address"
      required
      type="email"
    >
    <p
      *ngIf="email.touched && email.invalid"
      class="form__hint"
    >
      Looks like this is not an email
    </p>
    <input
      #password="ngModel"
      [class.invalid]="password.touched && password.invalid"
      class="form__input"
      name="password"
      ngModel
      placeholder="Password"
      required
      type="password"
    >
    <p
      *ngIf="password.touched && password.invalid"
      class="form__hint"
    >
      Password cannot be empty
    </p>
    <button
      [class.form__button--disabled]="f.touched && f.invalid"
      class="form__button"
    >Claim your free trial
    </button>
  </form>

  <p class="form__terms">
    By clicking the button, you are agreeing to our
    <span class="bold">Terms and Services</span>
  </p>
</div>
