<div class="form__wrapper">
  <form class="form">
    <input
      class="form__input"
      placeholder="First Name"
      type="text"
    >
    <input
      class="form__input"
      placeholder="Last Name"
      type="text"
    >
    <input
      class="form__input"
      placeholder="Email Address"
      type="email"
    >
    <input
      class="form__input"
      placeholder="Password"
      type="password"
    >
    <button class="form__button">Claim your free trial</button>
  </form>

  <p class="form__terms">
    By clicking the button, you are agreeing to our
    <span class="bold">Terms and Services</span>
  </p>
</div>
